<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                (SAC) com foco no RC, relacionamento com o cliente. Tenho como
Cargo Analista de Novos Negócios tendo e já estando no Nível 2
como Perito relacionado a competência alcançada na Organização.
Tal função exige do profissional dominar todos os requisitos e
demandas do dia a dia que envolvem todas as necessidades da
razão, clientes. Prestando um suporte macro para o negócio dos
mesmos desde a Conta Digital até o financeiro do negócio. Foco em
Consultoria de negócios e recentemente em vendas com os novos
produtos separando o Seguro Stone. No cenário atual estou em
busca de uma oportunidade de NV1 ou NV2 na área de Tecnologia
a qual desejo aplicar e agregar os conhecimentos que estão sendo
obtidos na minha formação atual (Tecnologia da Informação).
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i> email@email.com</li>
                <li><i class="fa-solid fa-phone"></i> (00) 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i> (00) 0 0000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>
